<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>admin</title>
    
	<script language="javascript" type="text/javascript" src="../../resources/lib/jquery.min.js"></script>
	<script language="javascript" type="text/javascript" src="../../resources/lib/jqplot/jquery.jqplot.min.js"></script>
	<script language="javascript" type="text/javascript" src="../../resources/lib/jqplot/plugins/jqplot.canvasTextRenderer.min.js"></script>
	<script language="javascript" type="text/javascript" src="../../resources/lib/jqplot/plugins/jqplot.canvasAxisLabelRenderer.min.js"></script>
	<script language="javascript" type="text/javascript" src="admin_monitor_client.js"></script>
	
	<link rel="stylesheet" type="text/css" href="../../resources/styles/jquery.jqplot.css" />
    <link rel="stylesheet" type="text/css" href="../../resources/styles/style.css" />
    <link rel="stylesheet" type="text/css" href="../../resources/styles/style_table.css" />
    
</head>
<body>
<div id="wapper">
<!--헤더시작-->
<header>
<h2 class="title">admin</h2>
</header>
<br>
<!--사이드바-->
<div id="menu">
    <ul>
        <li><a href="./admin_setting.html">Setting</a></li>
		<li><a href="./admin_monitor.html">Monitor</a></li>
        <li><a href="./admin_result.html">Result</a></li>
    </ul>
</div>
<!--콘텐츠부분-->
       <table border="1px" width="100%">
       <thead>
	        <tr>
	            <th scope='col'> Process </th>
				<!-- <th scope='col'> Test Process </th> -->
				<th scope='col'> Monitor </th>
	        </tr>

        </thead>
        <tr>
			<td width="250px">
				<div id='device_list'></div>
			</td>
			<!-- <td width="150px">
				<div id='process_list'></div>
		    </td> -->
			<td valign="top" width="70%">
				<!-- <button type='button' onclick="onClickLog('Logcat')">Logcat</button>
												<button type='button' onclick="onClickLog('Monkey')">Monkey</button>
								<button type='button' onclick='onClickSystem()'>System</button>
								<hr> -->
				<div id='monitor_view'></div>
		    </td>
        </tr>
        
        </table>
<!--footer
<footer>footer</footer>
-->
</div>

</body>
</html>