<!DOCTYPE HTML>
<html>
<head>
    <meta >
    <title>welcome acts</title>


</head>


<body>
<center>
	<br>
	<div id="top"> »ó´Ü </div><br>
	<hr size=1></hr>

	<div id="content">
	 <table border="1px" width="100%">
 
        <tr>
			<td width="200px" height="700px" valign="top">
				<div id='menu_list'>
				<a href="../../index.html" target="_top">home</a><br><br>

				Stability<br><br>
				
				<a href="../stability.html" target="_top" >Application</a>
				<a href="../stability.html" target="_top" >Device</a> <p>
				</div>

				<table align="right" class="tabs">
			<tr>
				<td align="right" ><a href="" onclick="goDashboard()" >Dashboard</a></td>
			</tr>
			<tr>
				<td align="right"><a href="" onclick="goHistory();" >History</a></td>
			</tr>
			<tr>
				<td align="right"><a href="" onclick="goBugchart()" >Bug chart</a></td>
			</tr>
			<tr>
				<td align="right"><a href="" onclick="Level()" >Level</a></td>
			</tr>
			<tr>
				<td align="right"><a href="" onclick="goErrorclould()" >Error clould</a></td>
			</tr>
			<tr>
				<td align="right"><a href="" onclick="goCoverage()" >Coverage</a></td>
			</tr>
			<tr>
				<td align="right"><a href="" onclick="goReport()" >Report</a></td>
			</tr>
		</table>


			</td>			
			<td>
				
				<div id='content_view'> 



				Dashboard

			


				</center>

				


				</div>
		    </td>
        </tr>

        
        </table><br>

	
	</div><br>
	<hr size=1></hr>

	<div id="footer">	
	<br>
	<address class="address_actus">	
		<span>Copyright &copy;</span>
		<a href="http://www.actus.kr/" target="_blank">ACTUS</a>.
		<span>All Rights Reserved.</span>
	</address>
		
	</div><br>

	
</center>
</body>

</html>