<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>welcome acts</title>
	
	<!-- BEGIN: load jquery -->
	<!--<script language="javascript" type="text/javascript" src="jqplot/jquery.js"></script>-->
	<script language="javascript" type="text/javascript" src="../resources/lib/jquery.min.js"></script>
	<!-- END: load jquery -->
	<script language="javascript" type="text/javascript" src="./stability_client.js" ></script>

	<!-- BEGIN: load jqplot -->
	<script language="javascript" type="text/javascript" src="../resources/lib/jqplot/jquery.jqplot.js"></script>
	<script language="javascript" type="text/javascript" src="../resources/lib/jqplot/plugins/jqplot.barRenderer.js"></script>
	<script language="javascript" type="text/javascript" src="../resources/lib/jqplot/plugins/jqplot.pieRenderer.js"></script>
	<script language="javascript" type="text/javascript" src="../resources/lib/jqplot/plugins/jqplot.categoryAxisRenderer.js"></script>
	<script language="javascript" type="text/javascript" src="../resources/lib/jqplot/plugins/jqplot.highlighter.js"></script>
	<script language="javascript" type="text/javascript" src="../resources/lib/jqplot/plugins/jqplot.pointLabels.js"></script>
	<!-- END: load jqplot -->
	
	<link rel="stylesheet" type="text/css" href="../resources/lib/jqplot/jquery.jqplot.css" /> 

</head>


<body>
<center>
	<br>
	<div id="top"> »ó´Ü </div><br>
	<hr size=1></hr>

	<div id="content">
	 <table border="1px" width="100%">
		<tr>
			<td width="200px" height="700px" valign="top">
				<div id='menu_list'>
				<a href="../index.html" target="_top">home</a><br><br>

				Stability<br><br>
				
				<a href="stability.html" target="_top" >Application</a>
				<a href="stability.html" target="_top" >Device</a> <p>
				</div>
			</td>			
			<td>
				
				<div id='content_view'> 
				<center>
				<table width="80%" border=0>
				<tr>
					<td>Application</td><td>Score</td><td>Recent Test Date</td>
				</tr>
				</table>
				</center>
				<div id="dashboardView" style="margin-top:20px; margin-left:20px; width:70%; height:500px"></div>
				</center>
				</div>
		    </td>
        </tr>

        </table><br>

	
	</div><br>
	<hr size=1></hr>

	<div id="footer">	
	<br>
	<address class="address_actus">	
		<span>Copyright &copy;</span>
		<a href="http://www.actus.kr/" target="_blank">ACTUS</a>.
		<span>All Rights Reserved.</span>
	</address>
		
	</div><br>

	
</center>
</body>

</html>